server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql:http://localhost:8080/test?serverTimeZone=Asia/Shanghai
    username: root
    password: 123456
  mvc:
    static-path-pattern: /static/**